@page "/Tasks"
@using Core.Models.Output.Bug
@inject HttpClient Http

@if (_tasks == null)
{
    <div class="col-12 bg-white shadow-sm">
        <Skeleton Active="true"></Skeleton>
    </div>
}
else
{
    <div class="col-12 mb-3">
        <h3>Tasks</h3>
    </div>
    <div class="col-12">
        @foreach (var task in _tasks)
        {
            <div class="shadow-sm mb-2 card border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            @task.Bug
                        </div>
                        <div class="col-6">
                            <Tag Color="blue">Subtask: @task.SubTasks.Count</Tag>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <Timeline>
                            @foreach (var subtask in task.SubTasks)
                            {
                                <TimelineItem>@subtask.Task</TimelineItem>
                            }
                        </Timeline>
                    </div>
                </div>
            </div>
        }
    </div>
    <Tag Color="red">Subtasks:</Tag>
}

@code {
    private BugOutput[] _tasks;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _tasks = await Http.GetFromJsonAsync<BugOutput[]>("api/bug");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

}

<style type="text/css">
      .row-no-padding,.row-no-padding div,.row-no-padding div button{
           padding: 0 !important;
      }
</style>
