@page "/Tasks"
@using Core.Models.Output.Bug
@inject HttpClient Http

@if (_tasks == null)
{
    <p>Loading...</p>
}
else
{
    <div class="col-12">
        Tasks
    </div>
    <div class="col-12">
        @foreach (var task in _tasks)
        {
            <Card Bordered="false" Style="width:100%;" Class="shadow-sm mb-2">
                <Body>
                <div class="row">
                    <p>@task.Bug</p>
                    @if (!task.SubTasks.Count.Equals(null))
                    {
                        <Tag Color="red">@task.SubTasks.Count</Tag>
                    }
                </div>
                <div class="col-12">
                    @foreach (var subtask in task.SubTasks)
                    {
                        <p>@subtask.Task</p>
                    }
                </div>
                </Body>
            </Card>
        }
    </div>
}

@code {
    private BugOutput[] _tasks;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _tasks = await Http.GetFromJsonAsync<BugOutput[]>("api/bug");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

}
