@inherits LayoutComponentBase

<Layout>
    <Sider Breakpoint="@BreakpointType.Lg"
           CollapsedWidth="0"
           OnBreakpoint="broken => { Console.WriteLine(broken); }"
           OnCollapse="collapsed => { Console.WriteLine(collapsed); }"
           Style="overflow: auto;height: 100vh;position: fixed;left: 0;">
        <div class="logo"/>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[] {"4"})>
            <NavLink href="/">
                <h4 class="text-white-50 p-3">BugTacker</h4>
            </NavLink>
            <MenuItem Key="1">
                <NavLink href="counter">
                    <Icon Type="home" Theme="outline"/>
                    <span class="nav-text">Home</span>
                </NavLink>
            </MenuItem>
            <MenuItem Key="2">
                <NavLink href="tasks">
                    <Icon Type="unordered-list" Theme="outline"/>
                    <span class="nav-text">Tasks</span>
                </NavLink>
            </MenuItem>
            <MenuItem Key="3">
                <NavLink href="users">
                    <Icon Type="user" Theme="outline"/>
                    <span class="nav-text">Manage Users</span>
                </NavLink>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Style=" margin-left: 200px">
        <Header Class="site-layout-sub-header-background shadow-sm" Style="padding: 0;"></Header>
        <Content Style="margin: 24px 16px 0; overflow: initial;">
            <div class="" style="padding: 24px;">
                @Body
            </div>
        </Content>
        <Footer Style="text-align: center;">Ant Design ©2018 Created by Ant UED</Footer>
    </Layout>
</Layout>

<style>
    #components-layout-demo-responsive .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout-sub-header-background {
        background: #fff;
    }

    .site-layout-background {
        background: #fff;
    }
</style>
